
#Netcore files
SocialMEdia.Api/bin/*
SocialMEdia.Api/obj/*

SocialMedia.Infrastructure/bin/*
SocialMedia.Infrastructure/obj/*

SocialMedia.Domain/bin/*
SocialMedia.Domain/obj/*

SocialMedia.UnitTest/bin/*
SocialMedia.UnitTest/obj/*

SocialMedia.IntegrationsTest/bin/*
SocialMedia.IntegrationsTest/obj/*