@page
@model TEC.SB.UI.Colaboradores.Dev.Pages.LoginModel
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<div class="contaier mt-5 pb-5">
  <div class="row mt-5">
    <div class="col-8 offset-2 mt-5 mb-5">
      <h2>Simulación de federación ingresa la matricula del alumno o nómina del colaborador</h2>  
      <form class="mt-5" asp-controller="Auth" asp-action="auth-development">
        <div class="form-group">
          <label for="email">Usuario</label>
          <input type="text" name="name" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Ingresa matricula o nómina">
          <small id="emailHelp" class="form-text text-muted">La nómina no debe incluir el prefijo "L".</small>
        </div>
        <button type="submit" class="btn btn-primary mt-5">Iniciar sessión</button>
      </form>
    </div>
  </div>
</div>